<div class="flex items-center justify-center w-full h-full">
	<div
		class="flex flex-col max-w-lg gap-2 p-10 text-xl bg-white border border-black rounded-lg shadow-lg min-w-96 min-h-96 h-max"
	>
		<div class="flex gap-2">
			<h5 class="font-medium">Name:</h5>
			<span><%= user.name %></span>
		</div>
		<div class="flex gap-2">
			<h5 class="font-medium">Username:</h5>

			<% if (user.username) { %> <span><%= user.username %> </span><% }
			else { %> <span class="italic">no username</span>
			<% } %>
		</div>
		<div class="flex gap-2">
			<h5 class="font-medium">Year of birth:</h5>
			<span
				><% if (typeof user.YOB != 'undefined') { %> <%= user.YOB %> <%
				}else{ %> unavailable <% } %></span
			>
		</div>
		<div class="flex gap-2">
			<h5 class="font-medium">Role:</h5>
			<span>
				<% if (user.isAdmin) { %> admin <% } else { %> user <% }
				%></span
			>
		</div>
		<a
			href="profile/edit"
			class="self-end p-2 px-4 text-center transition-colors duration-300 bg-green-600 rounded-lg text-neutral-50 hover:bg-green-800"
		>
			Edit profile
		</a>
		<a
			href="profile/change-password"
			class="self-end p-2 px-4 text-center transition-colors duration-300 bg-green-600 rounded-lg text-neutral-50 hover:bg-green-800"
		>
			Change password
		</a>
	</div>
</div>
