
<div class="absolute right-0 flex items-center justify-center px-4 bg-white rounded-full shadow-sm top-3">

    <% if (user) { %>
        <h5>Hello, <span class="font-medium">
            
            <%= user.name %>
        </span>
    </h5>
    <% } %>
</div>